h1 {
  color: darkgreen;
}

.planes-contenido {
  display: flex;
  justify-content: space-around;
}

.planes-contenido>div {
  background-color: greenyellow;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.width50{
  width: 50%;
}