h1 {
    color: darkgreen;
}

.planes-contenido {
    display: flex;
    justify-content: space-around;
}

.planes-contenido>div {
    background-color: #dcfbdc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
}

.width50 {
    width: 50%;
}
button{
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
